{% extends 'header.html' %}
{% block body %}
{% load static %}
<!DOCTYPE html>
<html>
<head>
	<title>ERP Admin</title>
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  
</head>
<body>
<!-- Begin Page Content -->
        <div class="container-fluid mt-4">
          <div class="card shadow mb-4">
            <div class="card-header">
            
              <a href="{% url 'orderPrint' %}" class="btn btn-sm btn-danger float-right ml-2" target="_blank">Print</a>

              <span class="font-weight-bold text-primary">Order Detials</span>

              
            </div>
             {% if messages %}
                    <span class="text-success font-weight-bold text-center mt-1">
                      {% for message in messages %}
                        {{ message }}
                      {% endfor %}
                    </span>
                  {% endif %}
            <div class="card-body">
                <h4 class="font-weight-bold"><center>Sri Restaurant</center></h4>
                <span class="font-weight-bold"><center>Phaltan</center></span>
                <span class="font-weight-bold"><center>Mobile No : 9112091020</center></span>
                {% for i in last_invoice %}
                    <span class="font-weight-bold" style="float: right;">DATE/TIME : {{i.created_at}}</span>
                {% endfor %}
              
                {% for i in last_invoice %}
                    <span class="font-weight-bold">BILL No : {{i.invoice_no}}</span>
                {% endfor %}
                <hr>               
              <div class="table-responsive mt-2">                 
                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr class="text-center">
                        <th scope="col">Sr No</th>
                        <th scope="col">Item Name</th>
                        <th scope="col">Quantity</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>                      
                    </tr>
                  </thead>
                  
                  <tbody>
                    {% for i in last_order %}                    
                    <tr class="text-center font-weight-bold"">
                      <td>{{forloop.counter}}</td>
                      <td>{{i.item_name | title }}</td>
                      <td>{{i.item_qty}}</td>
                      <td>{{i.item_price}}</td>                        
                      <td>{{i.item_total}}</td>                                       
                    </tr>                     
                    {% endfor %}  
                    {% for i in last_invoice %}
                        <tr class="font-weight-bold text-center">
                            <td colspan="2"></td>
                            <td class="text-success">{{i.invoice_item_quantity}}</td>
                            <td colspan="1"></td>
                            <td class="text-success">{{i.invoice_item_final_total}}</td>
                        </tr>    
                    {% endfor %}               
                   
                  </tbody>
                </table>  
                                
              </div>
            </div>
          </div>
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>

 



 