{% extends 'header.html' %}
{% block body %}
{% load static %}
{% load mathfilters %}

<!DOCTYPE html>
<html>
<head>
	<title>ERP Admin</title>
	<link href="{% static 'vendor/fontawesome-free/css/all.min.css' %}" rel="stylesheet" type="text/css">

	<link href="{% static 'vendor/datatables/dataTables.bootstrap4.min.css' %}" rel="stylesheet">
	<link href="{% static 'css/sb-admin-2.min.css' %}" rel="stylesheet">
  
</head>
<body>
<!-- Begin Page Content -->
        <div class="container-fluid mt-4">
          <div class="card shadow mb-4">
            <div class="card-header">
              <span class="font-weight-bold text-primary">View Purchase Detials</span>
            </div>
             {% if messages %}
                    <span class="text-success font-weight-bold text-center mt-1">
                      {% for message in messages %}
                        {{ message }}
                      {% endfor %}
                    </span>
                  {% endif %}
            <div class="card-body">
              <div class="table-responsive">
                <table class="table table-bordered"  width="100%" cellspacing="0">
                  <thead>
                    <tr class="text-center">
                        <th scope="col">Sr No</th>
                        <th scope="col">Item</th>
                        <th scope="col">Kg / Qty</th>
                        <th scope="col">Price</th>
                        <th scope="col">Total</th>
                        <th scope="col">Purchase Date</th>
                    </tr>
                  </thead>
                  <tfoot>
                    <tr class="text-center">
                      <th scope="col">Sr No</th>
                      <th scope="col">Item</th>
                      <th scope="col">Kg / Qty</th>
                      <th scope="col">Price</th>
                      <th scope="col">Total</th>
                      <th scope="col">Purchase Date</th>
                    </tr>
                  </tfoot>
                  <tbody>
                    <tr>
                    
                    {% for i in object_list %} 
                    </tr>                     
                    <tr class="text-center font-weight-bold"">
                      <td>{{forloop.counter}}</td>
                      <td>{{i.stock_item }}</td> 
                      <td class="text-danger">{{i.stock_kg_qty}}</td> 
                      <td class="text-danger">
                        {% with numerator=i.price denominator=i.stock_kg_qty %}
                         {{ numerator|div:denominator }}
                        {% endwith %}
                      </td>   
                      <td class="text-danger">{{i.price}}</td> 
                      
                      <td class="text-success">{{i.created_at}}</td>                   
                    </tr> 
                    {% endfor %}                 
                   
                  </tbody>
                </table>  
                <nav aria-label="Page navigation example">
                  {% if is_paginated %}
                  <ul class="pagination">
                    {% if page_obj.has_previous %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.previous_page_number}}">Previous</a></li>
                    {% endif %}

                    <li class="page-item active"><span class="page-link">{{page_obj.number}}</span></li>
                    
                    {% if page_obj.has_next %}
                    <li class="page-item"><a class="page-link" href="?page={{page_obj.next_page_number}}">Next</a></li>
                    {% endif %}
                  </ul>
                  {% endif %}
                </nav>                                
              </div>
            </div>
          </div>
</div>
<script src="{% static 'vendor/jquery/jquery.min.js' %}"></script>
    <script src="{% static 'js/bootstrap.min.js' %}"></script>
{% endblock %}
</body>
</html>

 



 